h1 {
  background-color: violet;
  text-align: center;
}
p {
  text-align: center;
  color: green;
}
body {
  background-color: yellow;
}

.imgMain {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
